In [25]:
# lambda function
list(map(lambda x: x * x, [1, 2, 3, 4, 5, 6, 7, 8, 9]))

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [26]:
 list(map(str, [1, 2, 3, 4, 5, 6, 7, 8, 9]))

['1', '2', '3', '4', '5', '6', '7', '8', '9']

In [27]:
# map function
def normalize(name):
    return name.capitalize()

L1 = ['adam', 'LISA', 'barT']
L2 = list(map(normalize, L1))
print(L2)

['Adam', 'Lisa', 'Bart']

In [28]:
#reduce
from functools import reduce

def prod(L):
    return reduce(lambda x, y: x*y, L)    
    
print('3 * 5 * 7 * 9 =', prod([3, 5, 7, 9]))

3 * 5 * 7 * 9 = 945

In [29]:
from functools import reduce

def str2int(s):
    def fn(x, y):
        return x * 10 + y
    def char2num(s):
        return {'0': 0, '1': 1, '2': 2, '3': 3, '4': 4, '5': 5, '6': 6, '7': 7, '8': 8, '9': 9}[s]
    return reduce(fn, map(char2num, s))

print('str2int(\'123456\') =', str2int('123456'))

str2int('123456') = 123456

In [30]:
# Use lambda to simplify the function above
from functools import reduce

def char2num(s):
    return {'0': 0, '1': 1, '2': 2, '3': 3, '4': 4, '5': 5, '6': 6, '7': 7, '8': 8, '9': 9}[s]

def str2int_new(s):
    return reduce(lambda x, y: x * 10 + y, map(char2num, s))

print('str2int_new(\'123456\') =', str2int_new('123456'))

str2int_new('123456') = 123456

In [31]:
def str2float(s):
    s = s.split('.')
    def fint(x, y):
        return 10*x + y
    def ffloat(x, y):
        return .1*x + y
    def extract(s):
        return {'0':0, '1':1, '2':2, '3':3, '4':4, '5':5, '6':6, '7':7, '8':8, '9':9}[s]
    return reduce(fint, map(extract, s[0]))+ reduce(ffloat, map(extract, s[1][::-1]))*.1

print('str2float(\'123.456\') =', str2float('123.456'))

str2float('123.456') = 123.456

In [32]:
# filter function
def is_odd(n):
    return n % 2 == 1

list(filter(is_odd, [1, 2, 4, 5, 6, 9, 10, 15]))

[1, 5, 9, 15]

In [33]:
def not_empty(s):
    return s and s.strip()

list(filter(not_empty, ['A', '', 'B', None, 'C', '  ']))

['A', 'B', 'C']

In [34]:
def is_palindrome(n):
    return str(n) == str(n)[::-1]
L = list(filter(is_palindrome,range(1000)))
print(L)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 22, 33, 44, 55, 66, 77, 88, 99, 101, 111, 121, 131, 141, 151, 161, 171, 181, 191, 202, 212, 222, 232, 242, 252, 262, 272, 282, 292, 303, 313, 323, 333, 343, 353, 363, 373, 383, 393, 404, 414, 424, 434, 444, 454, 464, 474, 484, 494, 505, 515, 525, 535, 545, 555, 565, 575, 585, 595, 606, 616, 626, 636, 646, 656, 666, 676, 686, 696, 707, 717, 727, 737, 747, 757, 767, 777, 787, 797, 808, 818, 828, 838, 848, 858, 868, 878, 888, 898, 909, 919, 929, 939, 949, 959, 969, 979, 989, 999]

sored

In [35]:
sorted([36, 5, -12, 9, -21], key=abs)

[5, 9, -12, -21, 36]

In [36]:
sorted(['bob', 'about', 'Zoo', 'Credit'], key=str.lower)

['about', 'bob', 'Credit', 'Zoo']

In [37]:
 sorted(['bob', 'about', 'Zoo', 'Credit'], key=str.lower, reverse=True)

['Zoo', 'Credit', 'bob', 'about']

In [38]:
L = [('Bob', 75), ('Adam', 92), ('Bart', 66), ('Lisa', 88)]

def by_name(t):
    return t[0]

L2 = sorted(L, key = by_name)
print(L2)


def by_score(t):
    return t[1]

L3 = sorted(L, key = by_score, reverse = True)
print(L3)

[('Adam', 92), ('Bart', 66), ('Bob', 75), ('Lisa', 88)]
[('Adam', 92), ('Lisa', 88), ('Bob', 75), ('Bart', 66)]